<template>
    <div class="container">
        <app-header></app-header>
        <router-view class="container"></router-view>
        <app-router></app-router>
        <app-footer></app-footer>
    </div>
</template>

<script>
    import AppHeader from './AppHeader';
    import AppFooter from './AppFooter'
    export default {
        name: 'App',
        components: {AppHeader,AppFooter}
    }
</script>
<style scoped>

</style>
