<template>
    <footer>
        <span>Kanban, create with laravel & vue3. By Jhon Diaz</span>
    </footer>
</template>
<style lang="scss" scoped>
    footer{
        box-sizing: border-box;
        background-color:#cfd8dc;
        bottom:0px;
        left:0px;
        padding:1rem;
        position: fixed;
        width:100%;
        text-align: center;
        margin-top: 3rem;
    }
</style>