<template>
    <header>
        <span class="title"  >Kanban</span>
     
        <router-link class="btn-header" to="/">Home</router-link>
        <router-link class="btn-header" to="/dashboard" v-if="isAuthenticate">Mis tableros</router-link>
        <router-link class="btn-header" to="/login" v-if="!isAuthenticate">Iniciar sesión</router-link>
        <router-link class="btn-header" to="/register" v-if="!isAuthenticate">Registrarse</router-link>
        <li class="btn-header" @click.prevent="logout()" v-if="isAuthenticate" >Salir</li>
                       
    </header>
</template>
<script>
    import axios from 'axios';
    export default {
        name:"app-header",
        data(){
            return{
                isAuthenticate:false,
            }
        },
        mounted(){
            this.getTokenAuthenticate();
        },
        created(){
            
        },
        methods:{
            getTokenAuthenticate(){
               
                this.isAuthenticate = this.$store.state.token === '' || this.$store.state.token === null ? false:true;

            },
            logout(){
              
                axios.post('/api/auth/logout',{token:this.$store.state.token})
                .then(res => {
                    this.$store.commit('clearToken');
                    this.$router.push('/login');   
                })
                .catch(err=>{
                    console.log('error',err);
                });
                this.getTokenAuthenticate();
            }
        }
    }
</script>
<style lang="scss">
    
    header {
        box-sizing: border-box;
        background-color: #eeee;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0px;
        padding: 1rem ;
            .title{
                align-self: center;
                color:black;
                font-size:1.2rem;
                font-weight:600;
                margin-right:1rem;
            }
    }

    .btn-header{
        background-color:#455464;
        border:none;
        border-radius:3px;
        color:#b0bec5 !important;
        cursor:pointer;
        text-decoration:none !important;
        padding:3px;
        margin: 0 3px;
        list-style: none;
    }
</style>