<template>
    <section class="kanban">
        <h3><span>Mi tablero Kanban:  </span>{{name}}</h3>
        <div class="container-columns">
            <column
                v-for="(list, index) in lists"
                :key="index"
                :list="list"
               >
            </column>
        </div>
    </section>
    
</template>
<script>
import { mapState, mapGetters, mapActions } from 'vuex'
import Column from './Column'
 export default {

    name: 'board',
    components:{Column},
    props: {
        name:String,
        id:String,
    },
    data() {
        return {
            listName: '',
        };
    },
    mounted() {

        if(this.$store.state.token !==null && this.$store.state.token !== ''){
            axios.post('/api/auth/checktoken',{token:this.$store.state.token})
            .then(res => {
                if(!res.data.success){
                    this.$store.commit('setToken',res.data.token)
                }
            })
            .catch(err => {
                this.$router.push('/login');  
            });
        } else {
  
            this.$router.push('/login');  
        }
    },
    computed: {
        ...mapState([
        'fetchingData',
        'error'
        ]),
        ...mapGetters([
        'lists'
        ]),
    },
    methods: {
        ...mapActions([
            'addColumn',
            'getListsBoard'
        ]),
        addList() {
            this.addColumn({ board: this.id, name: this.listName })
            this.listName = ''
        }

    },
    created () {
        this.getListsBoard({ board_id: this.id })
    }

}


</script>
<style lang="scss" scoped>
    .kanban {
            height:700px;
            max-height: 700px;
            overflow-y: scroll;

    }
    section {
        text-align: left;
        width: 100%;

    }
     .container-columns {
        width: 100%;
        box-sizing: border-box;
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    h3{
        color:#37474f;
        text-align: left;
        margin: 1.5rem;
        span {
            color:#54474f;
        }
    }

    input {
        box-sizing: border-box;
        background-color: #c2c2c2;
        border: 2px solid #eeee;
        color: black;
        border-radius:3px;
        font-size: 1.1rem;
        outline: 0;
        padding:0.5rem;
        transition: all 600ms ease;
        &:focus,&:active {
            background-color:#eeee;
            color: black;
        }
    }
</style>

