<template>
    <div class="containers-card">
        <router-link
            class="board-cards" 
            :to="{name:'board',params:{name,id}}">
            <span class="board-card-title">{{name}}</span>
        </router-link>
    </div>
    

</template>
<script>

    export default {
        name: 'board-card',
        props: {
            id:String,
            name: String
        }
    }
</script>
<style lang="scss" scoped>

    .containers-card {
        display:flex;
        flex-direction:row;
        justify-content: center;
    }
    .board-cards{
        background:#eee;
        box-sizing: border-box;
        color: gray;
        margin: 0.5rem 1.5rem;
        padding: 1rem;
        text-align: left;
        text-decoration: none;
        transition: all 600ms ease;
        width: 100%;
        height: 100px;
        &-title{
            font-size:1.2rem;
        }

        &:hover {
            background-color:#90a4ae;
            font-weight:700;
            color: white;
        }

        @media screen and (min-width:600px){
            width:50%;

        }
        @media screen and (min-width:1024px){
            width:250px;

        }

    }
</style>