<template>
    <div>
  
       <div class="kanban">
            <div class="board-collection">
                <board-card 
                    v-for="(board, index) in boards"
                    :key="index"
                    :name="board.name"
                    :id="board.id"
                >
                </board-card>
            </div>
       </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import BoardCard from './BoardCard';
    import { mapState,mapActions } from 'vuex';

    export default {
        name:"login",
        components:{
            BoardCard
        },
        data() {
            return {
                loading:true,
                boarbName:'',
            }
        },
        computed:{
            ...mapState([
                'boards',
                'fetchingData'
            ]),
        },
        mounted() {

            if(this.$store.state.token !==null && this.$store.state.token !== ''){
                axios.post('/api/auth/checktoken',{token:this.$store.state.token})
                .then(res => {
                    if(!res.data.success){
                        this.$store.commit('setToken',res.data.token)
                    }
                    this.loading = false;
                })
                .catch(err => {
                    this.loading = false;
                    this.$router.push('/login');  
                });
            } else {
                this.loading=false;
                this.$router.push('/login');  
            }
        },
        created() {
            this.getBoardsUser({user_id:'1'})
        },
        methods:{
          ...mapActions([
            'fetchBoards',
            'getBoardsUser',
            'addBoard'
          ]),
          add(){
            this.addBoard({name:this.boarbName});
            this.boarbName = '';
          }
        }    
    
    }
</script>
<style lang="scss" scoped>

    

    h3 {
        text-align: left;
        margin:1.5rem;

    }

    .board-collection {
        width: 100%;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        padding-top:1rem ;
    }

    input {
        box-sizing: border-box;
        background-color: #c2c2c2;
        border: 2px solid #eeee;
        color: black;
        border-radius:3px;
        font-size: 1.1rem;
        outline: 0;
        padding:0.5rem;
        transition: all 600ms ease;
        &:focus,&:active {
            background-color:#eeee;
            color: black;
        }
    }

    
</style>