<template>
    <div class="home">
        Welcome to Kanban. Create with for backend Laravel 6 with jwt, for Frontend Vue 3 with vuex 4.
    </div>
</template>

<script>
    export default {
        name: 'Home'
    }
</script>
<style scoped>

</style>
