<template>
    <div class="container">
        <div v-if="loading" class="row justify-content-center">
           
            <div class="spinner-border" role="status">
                <span class="visually-hidden"></span>
            </div>
          
        </div>
       <div class="row justify-content-center" v-else >
            <div class="col-6 ">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" v-model="credentials.email" placeholder="Email address"/>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea13" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleFormControlInput13" v-model="credentials.password" placeholder="Password"/>
                </div>
                <div class="mb-3 btn-login">
                    <button type="button" class="btn btn-success" @click.prevent="login">Login</button>
                </div>
            </div>
            
       </div>
    </div>
</template>
<script>
    import axios from 'axios';

    export default {
        name:"login",
        data() {
            return {
                credentials:{
                    email: '',
                    password: '',
                },
                loading:true,
            }
        },
        mounted() {
          
            if(this.$store.state.token !==null && this.$store.state.token !== '' ){
                axios.post('/api/auth/checktoken',{token:this.$store.state.token})
                .then(res => {
                    this.loading = false;
                    if(res.data.success){
                         this.loading = false;
                         this.$router.push('/dashboard');   
                    } else {
            
                        this.$store.commit('setToken',res.data.token)
                    
                    }
                })
                .catch(err => {
                    this.loading = false;
                });
            } else {
                this.loading=false;
            }
        },
        created() {
            
        },
        methods:{
            login(){
                axios.post('/api/auth/login',this.credentials)
                .then(res => {
                    if(res.data.success){
                        this.$store.commit('setToken',res.data.acces_token);
                        this.$router.push('/dashboard');   
                    }
                })
                .catch(err=>{
                    console.log('error',err);
                });
            },
        }    
    
    }
</script>
<style scoped>
    .btn-login{
        display: flex;
        justify-content: center;
    }
    .btn{
        width: 100%;
    }
</style>