<template>
    <div class="container">
     
       <div class="row justify-content-center">
            <div class="col-6 ">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nombres completos:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" v-model="credentials.name" placeholder="Nombres completos"/>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">Correo electrónico:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput2" v-model="credentials.email" placeholder="Correo electrónico"/>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea13" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control" id="exampleFormControlInput13" v-model="credentials.password" placeholder="Contraseña"/>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea14" class="form-label">Confirmar contraseña:</label>
                    <input type="password" class="form-control" id="exampleFormControlInput14" v-model="credentials.password_confirmation" placeholder="Confirmar contraseña"/>
                </div>
                <div class="mb-3 btn-login">
                    <button type="button" class="btn btn-success" @click.prevent="login">Registrarme</button>
                </div>
            </div>
            
       </div>
    </div>
</template>
<script>
    import axios from 'axios';

    export default {
        name:"register",
        data() {
            return {
                credentials:{
                    name:'',
                    email: '',
                    password: '',
                    password_confirmation:'',
                },
                loading:true,
            }
        },
        methods:{
            login(){
                axios.post('/api/auth/register',this.credentials)
                .then(res => {
                    if(res.data.success){
                        this.$store.commit('setToken',res.data.acces_token);
                        this.$router.push('/dashboard');   
                    }
                })
                .catch(err=>{
                    console.log('error',err);
                });
            },
        }    
    
    }
</script>
<style scoped>
    .btn-login{
        display: flex;
        justify-content: center;
    }
    .btn{
        width: 100%;
    }
</style>