<template>
    <span>Tareas:{{list.tasks.length}}</span>
    <ul>
        <li v-for="(task,index) in list.tasks"
        :key="index"
        :class="{completed: task.completed}"
         
        >
          <div :class="{due:validateDateFinish(task)}">
              <span>{{task.title}} </span>,<br>
              <small>Fecha de entrega {{task.dateFinish}}</small>
              <div class="btn-container">
                <span class="btn-container__btn"  @click="markAsCompleted(task)">Marcar</span>
                <span class="btn-container__btn" @click="avanzar(task)">Avanzar</span>
                <span class="btn-container__btn" @click="sendBack(task)">Devolver</span>
                <span class="btn-container__btn" @click="deleteTask(task)">Eliminar</span>
              </div>
          </div>
          
           
            
        </li>
        <div class="form-container">
           
          <span>Fecha de entrega</span>
          <input type="date" placeholder="fecha de entrega" v-model="dateFinish"/>
          <input 
            type="text"
            placeholder="add new task"
            v-model="title"
            @keyup.enter="add()"
          />
        </div>
    </ul>

</template>
<script>
import {mapActions } from 'vuex'


export default {
    name: 'task-list',
    props: {
        list: Object
    },
    data(){
        return {
            title: '',
            dateFinish:new Date(),
            isDisable: false,
            tareas:[],
            countTask:0,
            isDue:false
        }
    },
    created() {
        
    },
    methods: {
        ...mapActions([
          'saveTask',
          'markAsCompleted',
          'moveAlong',
          'moveBack',
          'removeTask',
          'getTaskList',
          'getListsBoard',
        ]),
        validateDateFinish(task){
            let dateTask = new Date(task.dateFinish);
            let today = new Date();
            if(dateTask.getTime() < today.getTime()){
              return true;
            }


        },
        avanzar(task){

          this.moveAlong(task);
          this.refreshTask();

        },
        add(){
          this.saveTask({screen_id:this.list.id,title:this.title,dateFinish:this.dateFinish});
          this.title = '';
          this.refreshTask();
        },
        editTask(){
          this.isDisable = !this.isDisable;
        },
        sendBack(task){
          this.moveBack(task);
          this.refreshTask();
          
        },
        deleteTask(task){
          this.removeTask(task);
          this.refreshTask();
        },
        refreshTask(){
          let board_id = localStorage.getItem('board_id')
          this.getListsBoard({ board_id: board_id })
        }
        
    }    

}

</script>

<style lang="scss" scoped>
  small{
    font-weight: bold;
    color:#5c6bc0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .btn-container {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
    margin-top:1.5rem ;
    &__btn{
      margin: 1px;
      border-radius:3px;
      padding:1px 3px;
      background:#eee;
      cursor: pointer;
    }
    &__btn:hover{
      background:rgb(210, 210, 210);
    }
  }
  li {
    background-color: #fafafa;
    border-radius: 3px;
    border-bottom: 1px solid #ccc;
    margin: 0.25rem 0;
    padding: 1rem;

    &.completed {
      background-color: #cfd8dc;
      color: #90a4ae;
    }
  }
  .due {
    background-color:#e57373;
    padding:3px
  }

  input {
    box-sizing: border-box;
    background-color: #e8eaf6;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    margin: 0.25rem 0;
    padding: 1rem;
    transition: background-color 600ms ease;
    width: 100%;

    &:focus,
    &:active {
      background-color: #fafafa;
      border-bottom: 1px solid #ccc;
      margin: 0.25rem 0;
      padding: 1rem;
    }

    &::placeholder {
      color: #90a4ae;
    }
  }
</style>